/* ======================================FONT IMPORT (POPPINS)================================================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --list-size: 24px;
    --features-size: 20px;
    --alt-header-size: 27px;
    --review-text-size: 30px;
    --secondary-text-size: 32px;
    --secondary-header-size:48px;
    --header-size: 65px;
    --faq-text: 37px;

    --primary-font-weight: 500px;
    --default-font-weight: 400px;
    --secondary-font-weight: 800px;
    --alt-font-weight: 600px;
    --alt-header-weight: 700px;

    --primary-color: #000000;
    --nav-button-log_in: #CBFFD0;
    --nav-button-sign_up: #26A69A;

    --border-bottom-right-radius: 300px;

    --font-style-bold: bold;
    --font-extra-bold: extra-bold;

    

}

body{
    /* min-height: 100vh; */
    font-family: 'Poppins';
    overflow-x: hidden;
}



/* ================================================HOME SECTION========================================================= */
.home_container{
    background-image: url(../asset/images/Rectangle\ 599.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =================================================NAV SECTION============================================= */
nav{
    display: flex;
    /* justify-content: space-around; */
}

/* nav image */
.nav_image{
    width: 253px;
    height: 170px;
}

/* menu items */
ul{
    display: flex;
    justify-content: space-around; 
    /* text-align: center; */
    margin-left: 39px;
    padding-top: 30px;
    gap: 25px;
}

ul .menu_item{
    list-style: none;
    font-size: var(--list-size);
    
    font-weight: var(--primary-font-weight);
    cursor: pointer;
}

.menu_item a{
    color: var(--primary-color);
    text-decoration: none;
}

/* menu-item arrow downward images */
.menu_item .nav_arrow_img{
    position: relative;
    top: 0.3rem;
}

.menu-wrapper{
    display: flex;
    gap: 20rem;
}

/* nav buttons */
.nav_buttons{
    margin-top: 30px;
}

.nav_buttons button{
    border: solid 1px transparent;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: var(--list-size);
    color: var(--primary-color);
    font-weight: var(--primary-font-weight);
}

.nav_buttons .nav_log_in{
   background-color: var(--nav-button-log_in); 
}

.nav_buttons .nav_sign_up{
    background-color: var(--nav-button-sign_up);  
}

/* =========================HERO CONTAINER================================================ */
.hero_container{
    display: flex;
    gap: 3.8rem;
}

.home_summary{
    margin: 48px 0 0 40px;
}

.home_summary h1{
    font-size: var(--header-size);
    color: var(--primary-color);
    font-weight: var(--secondary-font-weight);
    width: 750px;
    line-height: 110%;
     
}

.home_summary p{
    font-size: var(--secondary-text-size);
    font-weight: var(--alt-font-weight);
    width: 750px;
    margin-top: 3rem;
    color: var(--primary-color);
}

/* mobile app download images */
.app-download{
    display: flex;
    gap: 2.5rem;
    margin-top: 5rem;
}

.apple_store, .google_play{
    border: solid 1.59px transparent;
    border-radius: 11.4px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.apple_store_details, .google_store_details {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.apple_store_details{
    padding: 15.26px 17.45px;
    width: 210px;
    height: 70px;
}

.google_store_details{
    padding: 13px 17.45px;
    width: 236px;
    height: 70px;
}

.app_platform{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.apple_store .apple_play_store{
    width: 31px;
    height: 38.11px;
}

.google_play .google_play_store{
    width: 40px;
    height: 45px;
}

.app_platform .apple_text_img{
    width: 121.01px;
    height: 11.15px;
}

.app_platform .google_text_img{
    width: 68px;
    height: 11px;
}

.app_platform .google_text_download{
    width: 148px;
    height: 30px;
}

/* ================================HERO RIGHT SECTION===================================================== */
.hero_right_section{
    border-radius: solid 1px transparent;
    border-top-left-radius: 300px;
    width: 575px;
    height: 714px;
    background-color: var(--nav-button-log_in);
    position: relative;
}


.hero_right_section .pc_device {
    position: absolute;
    top: 2.8rem;
    right: 0.4rem;
    width: 969px;
    height: 727.14px;
}

.hero_right_section .mobile_device {
    position: absolute;
    top: 22.8rem;
    width: 162px;
    height: 181px;
}

/* =======================================FEATURES SECTION====================================== */
.feature_container{
    display: flex;
    gap: 8rem;
    box-shadow: 0px 10px 30px 1px #00000040;
    box-shadow: 0px -10px 30px 1px #00000040;
    padding-bottom: 5rem;
}

.feature_mobile_img{
    width: 500px;
    height: 714px;
    border: solid 1px transparent;
    border-bottom-right-radius: var(--border-bottom-right-radius);
    background-color: var(--nav-button-sign_up);
    /* position: relative; */
}

.feature_mobile_img img{
    width: 559.45px;
    height: 520px;
    position: relative;
    top: 13.4rem;
    /* right: 0.3rem; */
}

/* features details */
.feature_details{
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
}

.feature_details h3{
    color: var(--primary-color);
    font-size: var(--secondary-header-size);
    font-weight: var(--alt-header-weight);
}

.feature_summary{
    display: flex;
    gap: 5rem;
    margin-top: 4rem;
}

.features_info{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem 0 0 2rem;
    width: 300px;
    height: 320px;
}

.features_info img{
    width: 70px;
    height: 70px;
}

.features_info h5{
    font-size: var(--alt-header-size);
    font-weight: var(--alt-header-weight);
    color: var(--primary-color);
    text-align: left;
}

.features_info p{
    width: 250px;
    font-weight: var(--primary-font-weight);
    font-size: var(--features-size);
}

/* .features_info .mx-text{
    padding-bottom: 12px;
} */

.feature_mx{
    border: solid 1px var(--nav-button-log_in);
    border-radius: 27px;
    background-color: var(--nav-button-log_in);
}

.feature_mx .mx-text{
    height: 140px;
}

.feature_px{
    border: solid 1px var(--nav-button-sign_up);
    border-radius: 27px;
    background-color: var(--nav-button-sign_up);
}

/* ============================================================================= */
.how_it_work{
    background-image: url(../asset/images/Rectangle\ 599.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 30px 1px #00000040;
    box-shadow: 0px -10px 30px 1px #00000040;
}

.it_work_summary{
    padding: 6rem 40px 0 40px;
}


/* testimonial header inclusive */
.it_work_summary h3,
.testimonial h3{
    color: var(--primary-color);
    text-align: center;
    font-weight: var(--alt-header-weight);
    font-size: var(--secondary-header-size);
    font-style: Bold;
}

.action_steps_1{
    display: flex;
    margin-top: 5rem;
}

.action-ml{
    margin-left: 20rem;
}

.actions_1,
.actions_2{
    border: solid 1px transparent;
    border-radius: 27px;
    list-style: none;
    font-size: var(--list-size);
    font-weight: var(--alt-font-weight);
    padding: 17px 11px;
    text-align: center;
    width: 500px;
}

.actions_1{
    background-color: var(--nav-button-log_in);
}

.action_step_2{
    display: flex;
    margin: 5rem 10rem 0 8rem;
    gap: 9rem;
}

.actions_2{
    background-color: var(--nav-button-sign_up);
}

/* how it work image */
.action_step_img{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-left: 145px;
    position: relative;
}

.action_step_shape,
.action_step_shape_2{
    width: 575px;
    height: 714px;
    border: solid 1px var(--nav-button-log_in);
    background-color: var(--nav-button-log_in);
    margin-top: 240px;
}

.action_step_img img{
    margin-top: 119px;
    width: 643.45px;
    height: 914px;
    position: relative;
    /* bottom: 20px; */
    z-index: 1;
}

.action_step_shape{
    border-top-left-radius: 300px;
    position: relative;
    left: 67px;
    
}

.action_step_shape_2{
    border-top-right-radius: 300px;
    position: relative;
    right: 295px;
}

/* ====================================TESTIMONIAL============================================= */
.testimonial{
    box-shadow: 0px 10px 30px 1px #00000040;
    box-shadow: 0px -10px 30px 1px #00000040;
    position: relative;
    z-index: 2;
    /* bottom: 435px; */
    margin-top: -420px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;  
}

.testimonial_header{
    display: flex;
}

.testimonial_shape,
.testimonial_shape_2{
    width: 575px;
    height: 427px;
    border: solid 1px var(--nav-button-sign_up); 
    background-color: var(--nav-button-sign_up);
}

.testimonial_shape{
    border-bottom-right-radius: 300px;
}

.testimonial h3{
    padding: 66px 0 0 45px;
}

/* review */
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: 5.3rem;
    /* position: relative;
    top: -95px; */
    /* left: 75px; */
}

.review_details{
    width: 400px;
    height: 450px;
    border: solid 1px var(--nav-button-log_in);
    border-radius: 27px;
    background-color: #CBFFD0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.review_details_2{
    width: 450px;
    height: 600px;
    border: solid 1px var(--nav-button-sign_up);
    border-radius: 27px;
    background-color: var(--nav-button-sign_up);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25px;
}

/* testimonial image */
.review_details img, 
.review_details_2 img{
    width: 130px;
    height: 130px;
    margin: 0 auto;
    padding: 0.3rem;
}

.star img{
    width: 474px;
    height: 108px;
}

/* review text and container */
.review_details p,
.review_details_2 p{
    color: var(--primary-color);
    font-size: var(--review-text-size);
    font-weight: var(--default-font-weight);
    padding-top: 0.2rem;
    text-align: center;
}

.review_details p{
    width: 413px;
    height: 350px;
}

.review_details span,
.review_details_2 span
{
    font-weight: var(--alt-header-weight);
    font-size: 36px;
    padding: 0.2rem 0 0.2rem 0;
}

.review_details_2 .detail_2{
    width: 413px;
    height: 353px;
    font-size: 36px;
    padding-left: 0.7rem;
}

.review_1{
    position: relative;
    left: 45px;
}

.review_3{
    position: relative;
    right: 65px;
}

.testimonial_shape_2{
    width: 575px;
    height: 427px;
    border-top-left-radius: 300px;
    position: relative;
    left: 59%;
}

/* ===================================================FAQ============================================= */
.faq{
    background-image: url(../asset/images/Rectangle\ 599.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* bottom: 430px; */
    display: flex;
    gap: 1.5rem;
    padding-bottom: 85px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 30px 1px #00000040;
    box-shadow: 0px -10px 30px 1px #00000040;
}

.faq_shapes{
    width: 575px;
    height: 700px;
    border: solid 1px var(--nav-button-sign_up);
    background-color: var(--nav-button-log_in);
    border-bottom-right-radius: 300px;
}

.faq-details{
    padding-top: 154px;
}

.faq-details h3{
    color: var(--primary-color);
    font-size: var(--secondary-header-size);
    font-weight: var(--alt-header-weight);
}

.faq_container{
    border: solid 1px var(--nav-button-sign_up);
    border-radius: 37px;
    width: 790px;
    height: 610px;
    background-color: var(--nav-button-sign_up);
    margin: 115px 45px 0 0;
    padding: 0 30px 30px 30px;
}

.questions{
    border: solid 1px var(--nav-button-log_in);
    border-radius: 27px;
    background-color: var(--nav-button-log_in);
    margin-top: 30px;
    
}

.question_wrapper,
.question_wrapper_2{
    display: flex;
    padding: 28px ;
}

/* faq text */

.question_wrapper p,
.question_wrapper_2 p{
    font-weight: var(--primary-font-weight);
    font-size: var(--faq-text);
    color: var(--primary-color);
}

.question_wrapper .faq_q5{
    width: 653px;
}

.question_wrapper img{
    margin-left: 14.2rem;
    width: 60px;
    height: 60px;
    cursor: pointer; 
}

.question_wrapper_2 .faq_q5{
    margin-left: 22px;
}

/* =============================================FOOTER====================================== */
.contact{
    background-color: var(--nav-button-sign_up);
    box-shadow: 0px 10px 30px 1px #00000040;
    box-shadow: 0px -10px 30px 1px #00000040;
    width: 100%;
    height: 100%;
}

.footer_logo{
    text-align: center;
}

.contact h3, h5{
    text-align: center;
    color: #ffffff;
}

.contact h5{
    font-weight: 500px;
    font-size: 37px;
}

.contact span{
    font-size: 42px;
    font-weight: 700px;
}

.contact h3{
    font-weight: 600px;
    font-size: 43px;
    padding-top: 0.5rem;
}

/* social handles */
.socials{
    cursor: pointer;
    text-align: center;
    padding-top: 90px;
    display: flex;
    gap: 3.5rem;
    justify-content: center;
}

.contact .app-download{
    text-align: center;
    justify-content: center;
}

.support{
    text-align: center;
    margin-top: 105px;
}

.support img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
}

.support span{
    color: #ffffff;
    font-weight: 600px;
    font-size: 40px;
}

/* footer link */
.contact ul{
    text-align: center;
    margin-left: 8.8rem;
}

.contact ul li{
    list-style: none;
    color: #ffffff;
}

.contact ul a{
    text-decoration: none;
    font-weight: 500px;
    font-size: 40px;
}

